<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{{ if .IsHome }}
<title>{{ .Title }}</title>
<meta property="og:title" content="{{ .Title }}">
<meta property="og:type" content="website">
{{ else }}
<title>{{ .Title }} . {{ .Site.Title }}</title>
<meta property="og:title" content="{{ .Title }} - {{ .Site.Title }}">
<meta name="twitter:site" content="@deadvoid">
<meta name="twitter:creator" content="@deadvoid">
{{ end }}
{{ with .Site.Params.favicon }}
  <link href='{{ . | absURL }}' rel='apple-touch-icon'>
  <link href='{{ . | absURL }}' rel='shortcut icon'>
{{ end }}

{{ if .IsHome }}
<meta property="description" content="{{ .Site.Params.description }}">
{{ else }}
  {{ if .Description }}
  <meta property="description" content="{{ .Description }}">
  {{ end }}
{{ end }}

{{ if .Keywords }}
<meta property="keywords" content ="{{ delimit .Keywords ", " }}">
{{ end }}

{{ with .OutputFormats.Get "rss" -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}

<link rel="stylesheet" href="{{ .Site.BaseURL }}static/css/main.css" media="all">
<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans:500|EB+Garamond:400,400i,500,500i,600,600i,700,700i,800,800i&display=swap" rel="stylesheet">